[Unit]
Description=USB Media Remote
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/UsbGadgetController

[Install]
WantedBy=multi-user.target
